a {
  color: gray;
  text-decoration: none;
}

li {
  text-decoration: none;
  list-style: none;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
}

.product-short {
  margin-left: 30px;
  margin-right: 30px;
}

.product-short-image {
  height: 200px;
  width: 150px;
  margin-bottom: 5px;
}

.product-short-metadata {
  padding-left: 0px;
}

.product-short-metadata .name {
  font-size: 18px;
  line-height: 20px;
  overflow: hidden;
  margin-bottom: 5px;
  color: black;
  font-weight: 50;
  text-overflow: ellipsis;
  font: 14px/18px Arial, Helvetica, sans-serif;
}

.product-short-metadata .price {
  color: #222;
  display: block;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  margin-bottom: 5px;
}

.product-short-metadata .promotion {
  color: #222;
  display: block;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 5px;
}

.product-detail .image {
  width: 300px;
  height: 400px;
}

.product {
  display: flex;
}

.product-detail .description {
  border-top: black;
  border-top-width: 2px;
  border-top-style: dotted;
  font-size: 18px;
  margin-top: 15px;
}

.product-detail .price-value {
  color: yellowgreen;
}

.product-detail .price-text {
  font-size: 18px;
}

.product-detail .add-to-cart {
  width: 200px;
  height: 30px;
  border-radius: 10px;
  line-height: 30px;
  cursor: pointer;
  background-color: yellow;
  user-select: none;
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
  color: chocolate;
}


