<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'products/home.css' %}"
    />
    <title>Recommend System</title>
  </head>
  <body>
    <div class="container">
      {% if products %}
      <div class="products-container">
        {% for product in products %} 
          {% include "products/product-short.html" with product=product %}
        {% endfor %}
      </div>
      {% else %}
      <p>No products are available.</p>
      {% endif %}
    </div>
  </body>
</html>
