{% extends "base.html" %}

{% load static %}
{% load env_extras %}

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block style %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'products/home.css' %}"
    />
    <link rel='stylesheet' href='https://sachinchoolur.github.io/lightslider/dist/css/lightslider.css'>

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'products/detail.css' %}"
    />
    {% endblock %}
    <title>Product</title>
  </head>
  
{% block title %}
Recommend System
{% endblock %}

{% block content %}
<div class="container mt-2 mb-3">
    <div class="row no-gutters">
        <div class="col-md-5 pr-2">
            <div class="card">
                <div class="demo">
                    <ul id="lightSlider">
                        <li data-thumb="{{ product.get_image_url }}"> 
                          <img src="{{ product.get_image_url }}" /> 
                        </li>
                        <li data-thumb="{{ product.get_image_url }}"> 
                          <img src="{{ product.get_image_url }}" /> 
                        </li>
                        <li data-thumb="{{ product.get_image_url }}"> 
                          <img src="{{ product.get_image_url }}" /> 
                        </li>
                        <li data-thumb="{{ product.get_image_url }}"> 
                          <img src="{{ product.get_image_url }}" /> 
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="card">
                <div class="d-flex flex-row align-items-center">
                    <!-- <div class="p-ratings"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div> <span class="ml-1">5.0</span> -->
                </div>
                <div class="about"> <span class="font-weight-bold text-capitalize">{{ product.name }}</span>
                  <h4 class="font-weight-bold">{{ product.price }} VND</h4>
                </div>
                <div class="buttons"> <button class="btn btn-outline-warning btn-long cart">Mua hàng</button> 
                <form action="/product/{{ product.id }}/rating" method="POST" style="margin: 10px;margin-top: 20px;">
                  {% csrf_token %}
                  {% if rating %}
                    <span style="font-style:italic;font-size:20px">Bạn đã đánh giá sản phẩm này: {{rating}} sao</span>
                  {% endif %}
                  <h3>Đánh giá sản phẩm</h3>
                    <div class="p-ratings">
                      <input type="radio" name="rating" value="1" id="rating-1">
                      <label for="rating-1">1</label>
                      <input type="radio" name="rating" value="2" id="rating-2">
                      <label for="rating-2">2</label>
                      <input type="radio" name="rating" value="3" id="rating-3">
                      <label for="rating-3">3</label>
                      <input type="radio" name="rating" value="4" id="rating-4">
                      <label for="rating-4">4</label>
                      <input type="radio" name="rating" value="5" id="rating-5">
                      <label for="rating-5">5</label>
                    </div>
                    <input type="submit" value="Đánh giá" class="btn btn-primary">
                    </form>
                <hr>
                <div class="product-description">
                    <div class="mt-2"> <span class="font-weight-bold">Description</span>
                      <p>{{ product.description }}</p>
                        <div class="bullets">
                          {% for property in product.properties %}
                            <div class="d-flex align-items-center"> 
                              <span class="dot"></span>
                              <span class="bullet-text">{{ property }}</span>
                            </div>
                          {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mt-2"> <span style="font-size: 20px;">Similar items:</span>
                <div class="similar-products mt-2 d-flex flex-row">
              {% for product in similarity_products %}
              <a href="/{{ product.id }}" class="card border p-1" style="width: 9rem;">
                    <img src="{{ product.get_image_url }}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <span class="card-title" style="font-size:14px;color:black;">{{ product.price }}VNĐ</span>
                        </div>
                        <b
                          style="font-size:15px;max-width:130px;overflow:hidden;color:black;"
                          >{{ product.name }}</b>
                    </a>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'></script>
<script src='https://sachinchoolur.github.io/lightslider/dist/js/lightslider.js'></script>
<script>
    $('#lightSlider').lightSlider({
        gallery: true,
        item: 1,
        loop: true,
        slideMargin: 0,
        thumbItem: 9
    });
</script>
{% endblock %}
