{% extends "base.html" %}

{% load static %}
{% load env_extras %}

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block style %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'products/home.css' %}"
    />
    {% endblock %}
    <title>Product</title>
  </head>
  
{% block title %}
Recommend System
{% endblock %}

{% block content %}
  <body>
    <div class="container">
      <div class="product-detail">
        3h2>{{ product.name }}</h2>
        <div class="product row">
          <div class="left-side col-6">
          <img 
            class="image"
            src="https://{% env_extras 'AWS_STORAGE_BUCKET_NAME' %}.s3.ap-southeast-1.amazonaws.com/media/{{ product.image }}"
            alt=""
          />
          </div>
          <div class="right-side col-6">
            <div class="name">
              <span>Giá sản phẩm:</span>
              <span class="price-text price-value"> {{ product.price }} </span>
              <span class="price-text"> VND</span> <br />
              <span class="name">Tên sản phẩm: {{ product.name }}</span> <br />
            </div>
            <div class="add-to-cart mt-3"><span> Thêm vào giỏ hàng </span></div>
          </div>
        </div>
        <div class="description">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, and
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum.
        </div>
      </div>
    </div>
  </body>
{% endblock %}
